.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .innerContainer {
    width: 100%;
  }

  .button {
    margin-top: 10px;
  }

  .warning {
    color: #999999;
    font-size: 12px;
    margin-top: 20px;

    .link {
      color: #689aff;
    }
  }
}